{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Conferma Indirizzo Email" %}{% endblock %}


{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-8 py-4">
      <h1 class="mb-5">{% trans "Accedi e completa gratuitamente il tuo profilo " %}</h1>

      {% if confirmation %}

          {% user_display confirmation.email_address.user as user_display %}

          {% if confirmation.email_address.user.type == "PRO" %}

              <p> Grazie per esserti iscritto a LianeCare.</p>

              <p>Per iniziare a ricevere gratuitamente offerte di lavoro come assistente familiare devi ora accedere alla tua area riservata e completare il tuo profilo.</p>
              <p>
                È molto semplice:
              <ul>
                <li>clicca sul bottone qui sotto</li>
                <li>inserisci le tue credenziali per entrare nel tuo profilo</li>
                <li>completa i campi con le tue informazioni personali, i servizi di assistenza (badanti, assistenti specialistici, baby sitter, pet sitter, colf) che puoi offrire e le disponibilità di giorni e date.</li>
              </ul>

              <p>Più informazioni inserirai, maggiori saranno le opportunità di individuare le offerte di lavoro di tuo interesse.</p>

              <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
              {% csrf_token %}
              <div class="text-center mt-5">
                <button class="btn btn-primary" type="submit">{% trans 'Completa il profilo' %}</button>
              </div>
            </form>

          {% else %}
              <p>{% blocktrans with confirmation.email_address.email as email %}Per favore conferma il tuo indirizzo email
                <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}
              </p>

              <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="text-center">
                  <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
                </div>
              </form>
          {% endif %}

      {% else %}
        {% url 'account_email' as email_url %}

        <p>
          {% blocktrans %}
            Questo link di conferma è scaduto.
            Per favore
            <a href="{{ email_url }}">esegui una nuova richiesta</a>.
          {% endblocktrans %}
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
