{% load static i18n compress %}
<footer class="pt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <a class="d-block mb-3" href="{% url 'home' %}">
          <img src="{% static 'images/solace_logo_50.png' %}" width="117" height="25" alt="LianeCare">
        </a>
        <p class="small mb-4">LianeCare è la piattaforma che fa incontrare i Caregivers in cerca di lavoro o
          formazione con le
          persone che hanno bisogno di ricevere assistenza qualificata adatta alle loro esigenze.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <small>Liane Srl - P.IVA 14268291003</small>
      </div>
    </div>
  </div>
</footer>
