{% extends "base.html" %}
{% load static i18n thumbnail %}

{% block title %}{% trans "Acquisto abbonamento" %}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <button type="submit" class="btn btn-primary" id="checkoutBtn">Subscribe</button>
  </div>
{% endblock content %}

{% block pagejs %}
  <script src="https://js.stripe.com/v3/"></script>

  <script type="application/javascript">

    /*const createCheckoutSession = function (priceId) {
      return fetch("/create-checkout-session", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          priceId: priceId
        })
      }).then(function (result) {
        return result.json();
      });
    };

    const checkoutBtn = document.getElementById("checkoutBtn");
    checkoutBtn.addEventListener("click", function (evt) {
      createCheckoutSession(PriceId).then(function (data) {
        // Call Stripe.js method to redirect to the new Checkout page
        stripe.redirectToCheckout({
          sessionId: data.sessionId
        }).then(handleResult);
      });
    });*/


    // Get Stripe publishable key
    fetch("{% url 'memberships:stripe_config' %}").then((result) => {
      return result.json();
    }).then((data) => {
      // Initialize Stripe.js
      const stripe = Stripe(data.publicKey);

      // Event handler
      let checkoutBtn = document.getElementById("checkoutBtn");
      if (checkoutBtn !== null) {
        checkoutBtn.addEventListener("click", (evt) => {
          // Get Checkout Session ID
          fetch("{% url 'memberships:new_checkout_session' %}")
                  .then((result) => {
                    return result.json();
                  })
                  .then((data) => {
                    console.log(data);
                    // Redirect to Stripe Checkout
                    return stripe.redirectToCheckout({sessionId: data.sessionId})
                  })
                  .then((res) => {
                    console.log(res);
                  });
        });
      }
    });
  </script>
{% endblock pagejs %}
