{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}{% trans 'Pubblica nuovo Job Post' %}{% endblock %}

{% block content %}
  <div class="">
    <div class="container pb-3 py-md-4">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3">
          {% include "./../_menu_person_profile.html" with active='jobposts' %}
        </div>

        <div class="col-md-8 col-lg-9">
          <div class="box-border">
            <h6 class="title"><i class="fas fa-concierge-bell"></i> {% trans "Nuovo Job Post" %}</h6>

            <form id="jobPostCreateForm" method="post">{% csrf_token %}
              {{ form.non_field_errors }}
              <div class="form-row">
                <div class="form-group col-md-4 mandatory">
                  <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                  <div class="form-select">
                    {{ form.category }}
                    {{ form.category.errors }}
                  </div>
                </div>
              </div>
              <div class="form-row my-4">
                <div class="form-group col-md-12 mandatory">
                  <label>{{ form.subcategories.label }}</label>
                  <div id="sub-cat-wrapper">

                  </div>
                </div>
              </div>

              <div id="hide-row" style="">

                <div class="form-title">{% trans "Dove" %}</div>
                <div class="form-row">
                  <div class="form-group col-md-8 mandatory">
                    <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-html="true"
                       title="Inserisci il tuo indirizzo e poi selezionalo tra le <b>scelte proposte</b>."></i>
                    <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                    {{ form.address }}
                    {{ form.address.errors }}
                  </div>
                  {{ form.latitude }}
                  {{ form.longitude }}
                  {{ form.region }}
                  {{ form.postcode }}
                  {{ form.country }}
                  {{ form.city }}

                  <div class="form-group col-md-2 mandatory">
                    <label for="{{ form.house_number.id_for_label }}">{{ form.house_number.label }}</label>
                    {{ form.house_number }}
                    {{ form.house_number.errors }}
                  </div>
                </div>

                <div class="form-title">{% trans "Quando" %}</div>
                <div class="form-row">
                  <div class="form-group col-md-6 mandatory">
                    <label for="{{ form.when.id_for_label }}">{{ form.when.label }}</label>
                    <div class="form-select">
                      {{ form.when }}
                    </div>
                    {{ form.when.errors }}
                  </div>
                </div>

                <div class="form-title">{% trans "Preferenze" %}</div>
                <div class="form-row">
                  <div class="form-group col-md-6 mandatory">
                    <label for="{{ form.experience.id_for_label }}">{{ form.experience.label }}</label>
                    <div class="form-select">
                      {{ form.experience }}
                      {{ form.experience.errors }}
                    </div>
                  </div>
                  <div class="form-group col-md-6 mandatory">
                    <i class="fas fa-info-circle text-primary" data-toggle="tooltip" data-html="true"
                       title="Vorresti un Caregiver PRO con referenze di altri clienti?"></i>
                    <label for="id_has_references">{% trans 'Con referenze?' %}</label>
                    <div class="form-select">
                      <select name="has_references" class="form-control" id="id_has_references">
                        <option value="">{% trans 'Seleziona' %}</option>
                        <option value="true">{% trans 'Sì' %}</option>
                        <option value="false">{% trans 'Indifferente' %}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12 mandatory">
                    <label for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
                    {{ form.note }}
                    {{ form.note.errors }}
                  </div>
                </div>
              </div>

              <div class="text-right">
                <input type="submit" class="btn btn-primary mt-5" value="{% trans "Pubblica" %}">
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block pagejs %}
  <script>
    $(document).ready(function () {
      initAutocomplete(
        "#id_address",
        '#id_latitude',
        '#id_longitude',
        '#id_house_number',
        '#id_postcode',
        '#id_city',
        '#id_region',
        '#id_country',
        '#id_address'
      );
    });

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    /* Get subcategories for category */
    $("#id_category").on('change', function (e) {
      e.preventDefault();
      startLoading();
      let id_category = $(this).val();
      var url = "{% url 'api:get_subcategories' %}";
      fetch(url, {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-type': 'application/json',
        },
        mode: 'same-origin',
        body: JSON.stringify({'id_category': id_category, 'forJobPost': true})
      }).then((resp) => resp.json())
              .then(data => {
                hideLoading();
                $('#sub-cat-wrapper').html(data.list_html);
                $('#hide-row').show();
              }).catch((err) => {
        console.log('Error:', err)
      });
    });

    /* Send data */
    $("#jobPostCreateForm").validate({
      lang: 'it',
      rules: {
        address: {
          check_address: true,
        },
        has_references: "required",
        "subcategories": {
          required: true
        }
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        if (element.attr("name") == "subcategories") {
          error.insertAfter($('.subcat-wrapper'));
        } else {
          error.insertAfter(element);
        }
      }
    });

    (function checkicon() {
      if (jQuery("#id_address").value != '') {
        jQuery('.ap-icon-pin').hide();
        jQuery('.ap-icon-clear').show();
      }
    })();
  </script>
{% endblock pagejs %}

