{% extends "base.html" %}
{% load i18n %}

{% block title %}LianeCare - Chi siamo{% endblock title %}
{% block meta_description %}Storia di Lianecare ed il suo team.{% endblock %}
{% block blockbots %}<meta name="robots" content="index,follow">{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section>
          <h4>{% trans "Chi siamo" %}</h4>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}

{% block pagejs %}

{% endblock pagejs %}
