{% extends "base.html" %}

{% block title %}LianeCare - Termini e condizioni{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="small my-5 text-justify">

          <h3 class="mb-4">Termini e Condizioni d'uso del sito web solace.lianecare.com</h3>
          <h5>Articolo 1 - Premessa introduttiva</h5>
          <p><b>1.1.</b>
            Il presente documento contiene i termini e le condizioni (di seguito le “Condizioni”) che regolano l’utilizzo del sito www.lianecare.com (di seguito il “Sito”) di proprietà esclusiva di LIANE SRL (di seguito il “Titolare”), con sede legale in Roma, Italia Piazza dei Servili 1, Partita IVA / Codice Fiscale 14268291003.
          </p>
          <p><b>1.2.</b>
            Tutte le informazioni pubblicate sul Sito hanno lo scopo di presentare il Titolare e sono state redatte sulla base delle sue attuali conoscenze e capacità e secondo standard di diligenza professionale.
          </p>
          <p><b>1.3.</b>
            Le Informazioni saranno aggiornate a discrezione del Titolare che non sarà responsabile per eventuali errori e/o omissioni e non fornirà alcuna garanzia in merito alla loro completezza e/o correttezza.
          </p>
          <p><b>1.4.</b>
            Il Titolare si riserva il diritto di bloccare temporaneamente o definitivamente l’account, con effetto immediato, a qualsiasi persona che ponga in essere attività illecite o fraudolente ovvero nel caso in cui rilevati utilizzi anomali, anche mediante strumenti che possano alterare o pregiudicare la funzionalità del sito web, della sua applicazione mobile, nonché dei servizi ivi offerti.
          </p>
          <p><b>1.5.</b>
            L’uso del Sito comporta l’accettazione delle presenti Condizioni e la loro mancata accettazione comporta il diritto del Titolare di chiedere agli utilizzatori del Sito di astenersi dal loro utilizzo.
          </p>
          <p><b>1.6.</b>
            Il Sito è finalizzato all'utilizzo e alla consultazione da parte di persone maggiorenni. Non saranno prese in considerazione richieste da parte di soggetti minori di età.
          </p>
          <p><b>1.7.</b>
            Le Condizioni possono essere modificate in ogni momento dal Titolare.
          </p>
          <p><b>1.8.</b>
            Il Titolare si riserva il diritto di variare a propria discrezione, in qualunque momento, l’interfaccia grafica del Sito, i contenuti e la loro organizzazione, nonché ogni altro aspetto che caratterizza la funzionalità e la gestione del Sito.
            Prima di utilizzare il Sito gli Utenti sono tenuti a leggere attentamente le Condizioni e a salvarle o stamparle per future consultazioni, a registrarsi sul Sito ed a prestare il consenso al trattamento dei loro dati personali. La registrazione al Sito comporterà l’automatica accettazione del presente documento.
          </p>
          <p><b>1.9</b>
          Il Sito consente ai partner di inserire pubblicità sia in modo neutro sotto forma di banner, sia sotto forma personalizzata.</p>

          <h5>Articolo 2 - Definizioni</h5>
          <p><b>2.1. Utente:</b>
            <br/>(a) qualunque persona fisica maggiore di età che accede e utilizza il Sito per ottenere informazioni sui prodotti e i servizi del Titolare;
            <br/>(b) qualunque persona fisica maggiore di età che si registra al Sito con propria username e password per ottenere e/o accedere ai prodotti e ai servizi destinati agli assistenti familiari/caregiver pro;
            <br/>(c) i dipendenti delle aziende clienti del Titolare che provvedono al pagamento diretto dei prodotti e dei servizi del Titolare a favore dei loro dipendenti.
          </p>
          <p><b>2.2. Fornitore Terzo:</b>
          l’Azienda cliente del Titolare che si avvale dei prodotti e dei servizi del Titolare a favore dei suoi dipendenti.
          </p>
          <p><b>2.3. Piattaforma:</b>
          Il Sito ospita una piattaforma di proprietà e gestita dal Titolare che consente all’Utente di usufruire di prodotti e servizi mediante iscrizione con username e password.
          </p>
          <p><b>2.4. Prodotti:</b>
            <br/>(a) prodotti e servizi utilizzabili dall’Utente assistente familiare/caregiver pro utilizza solo con accesso alla Piattaforma;
            <br/>(b) prodotti e servizi utilizzabili dall’Utente dipendente aziendale solo con accesso alla Piattaforma;
            <br/>(c) prodotti e servizi presentati sul Sito ma erogati dal Titolare senza necessità di accedere alla Piattaforma. Il Titolare si riserva il diritto di commercializzare e promuovere sul Sito Prodotti supplementari rispetto a quelli attualmente indicati ed anche di modificare le condizioni e i termini di utilizzo dei Prodotti medesimi.
          </p>
          <p><b>2.5. Annunci:</b>
            informazioni pubblicate sulla Piattaforma del Sito dagli Utenti che promuovono la loro candidatura come assistenti familiari/caregiver pro e informazioni pubblicate da Utenti dipendenti del Fornitore Terzo che accedono alla Piattaforma per la ricerca di un assistente familiare/caregiver pro.
          </p>
          <p><b>2.6. Contenuti:</b>
          qualsiasi informazione, elemento testuale e/o multimediale presente sul Sito, inclusi i marchi, i loghi, i nomi commerciali, i segni distintivi di qualsiasi tipo, i testi, le fotografie, le immagini, i grafici, gli audio, i video, le interfacce, le icone, la tecnologia, il software nonché il rispettivo design grafico e i codici sorgente, costituiscono un’opera la cui proprietà spetta in via esclusiva al Titolare.
          </p>
          <p><b>2.7. Prezzo:</b>
          importo espresso in Euro, comprensivo di tasse, indicato nel Sito. Il Titolare si riserva di apportare variazioni in qualsiasi momento.
          </p>
          <p><b>2.8. Pagamento:</b>
          prezzo versato dall’Utente per acquistare i Prodotti a pagamento presenti sul Sito.
          </p>


          <h5>Articolo 3 – Rapporti tra Titolare e Utente</h5>
          <p><b>3.1.</b>
          Il Titolare inviata gli utenti a differenziare i Prodotti dedicati all’Utente assistente familiare/caregiver pro dai Prodotti dedicati all’Utente dipendente del Fornitore Terzo.
          </p>
          <p><b>3.2.</b>
          Per i Prodotti dedicati all’Utente assistente familiare/caregiver pro il Titolare mette a disposizione esclusivamente la Piattaforma per: (a) inserire Annunci; (b) acquistare i videocorsi proposti sulla Piattaforma e dedicati alla formazione.
          </p>
          <p><b>3.4.</b>
          Di conseguenza, il Titolare non può assicurare in alcun modo che gli Annunci pubblicato sulla Piattaforma determinino l’assunzione dell’Utente assistente familiare/caregiver pro; né, tantomeno, il Titolare è responsabile dell’andamento del rapporto di lavoro (conclusione, il completamento o la regolarità del contratto di assunzione, licenziamento, dimissioni, omesso pagamento retribuzione e/o omesso versamento contributi dovuti per legge, ecc.) eventualmente perfezionatosi successivamente alla pubblicazione degli Annunci sulla Piattaforma del Sito.
          </p>
          <p><b>3.5.</b>
          Per i Prodotti dedicati all’Utente dipendente del Fornitore Terzo, il Titolare mette a disposizione esclusivamente la Piattaforma per: (a) pubblicare Annunci per la ricerca di assistenti familiari/caregiver pro con successivo matching operato dalla Piattaforma sulla base delle preferenze inserite dall’Utente; (b) accedere ai videocorsi proposti sulla Piattaforma e dedicati alla formazione.
          </p>
          <p><b>3.6.</b>
          Di conseguenza, il Titolare non può assicurare in alcun modo la qualità né le modalità delle prestazioni professionali offerte dagli assistenti familiari/caregiver pro individuati tramite la Piattaforma dall’Utente dipendente del Fornitore Terzo. Il Titolare non è responsabile in alcun modo né verso l’Utente dipendente del Fornitore Terzo, né verso il Fornitore Terzo dell’andamento del rapporto di lavoro successivamente formalizzato tra l’assistente familiare/caregiver pro e il dipendente aziendale (conclusione e  completamento del contratto di lavoro, affidabilità morale e professionale del lavoratore assistente familiare); detto rapporto di lavoro non è pertanto oggetto delle presenti Condizioni.
          </p>
          <p><b>3.7.</b>
          Il Titolare è assolutamente estraneo e non può essere ritenuto responsabile di eventuali reclami da parte dell’Utente o del Terzo Fornitore in relazione alle prestazioni degli assistenti familiari/caregiver in generale.
          </p>

          <h5>Articolo 4 - Annunci pubblicati sulla Piattaforma del Sito</h5>
          <p><b>4.1.</b>
            Il Titolare si riserva il diritto di non pubblicare Annunci di Utenti contenenti informazioni false o ingannevoli e/o annunci in violazione di diritti di terzi, 'spam', lettere a catena.
          </p>
          <p><b>4.2.</b>
            Il Titolare non è responsabile in nessun caso e per nessun motivo della validità, veridicità ed esattezza delle informazioni pubblicate dagli Utenti sulla Piattaforma che restano sotto l'esclusiva responsabilità del loro autore.
          </p>
          <p><b>4.3.</b>
            E’ vietato copiare, riprodurre, alterare, modificare o diffondere i contenuti degli Annunci pubblicati dagli altri Utenti senza il loro consenso espresso. Il Titolare non è responsabile di eventuali reclami e/o contenziosi riguardanti la violazione dei divieti previsti in questo articolo da parte degli Utenti.
          </p>
          <p><b>4.4.</b>
            E’ vietato raccogliere informazioni personali di altri Utenti del Sito, incluso il loro indirizzo email, senza il loro consenso. Il Titolare non è responsabile di eventuali reclami e/o contenziosi riguardanti la violazione dei divieti previsti in questo articolo da parte degli Utenti.
          </p>
          <p><b>4.5.</b>
            Gli Annunci non potranno contenere per nessuna ragione messaggi illeciti (ossia osceni, intimidatori, diffamatori, pornografici, abusivi o a qualsiasi titolo illegali o violino la privacy, i diritti di proprietà intellettuale e/o industriale del Titolare e/o di terzi), ingannevoli o che risultino lesivi nei confronti del Titolare e/o di terzi o contenere virus, propaganda politica, sollecitazione commerciale, e-mail di massa o qualunque altra forma di spamming. In caso di contestazione da parte di terzi, l’Utente autore dell’annuncio se ne assume la piena responsabilità e si obbliga a tenere manlevato e indenne il Titolare da qualsiasi danno, perdita o spesa.
          </p>
          <p><b>4.6.</b>
            L’Utente garantisce che gli Annunci pubblicati sulla Piattaforma del Sito sono inviati tramite il suo account di posta elettronica da persona maggiore di età secondo la Legge Italiana.
          </p>
          <p><b>4.7.</b>
            Non è ammesso l’utilizzo e/o la pubblicazione di Annunci sulla Piattaforma del Sito da parte di utenti minori di età e nel qual caso la responsabilità di danni al Titolare e/o ai terzi sarà posta direttamente a carico dei genitori del minore ovvero di coloro che esercitano la patria potestà secondo la Legge Italiana.
          </p>
          <p><b>4.8.</b>
            L’Utente è totalmente ed esclusivamente responsabile dell’uso della Piattaforma del Sito con riguardo alle funzioni di pubblicazione, di consultazione, di gestione dei contenuti e di contatto tra Utenti ed è pertanto l’unico garante e responsabile della correttezza, completezza e liceità dei contenuti e del proprio comportamento.
          </p>
          <p><b>4.9.</b>
            È vietato utilizzare un indirizzo di posta elettronica che non sia di titolarità dell’Utente, utilizzare i dati personali e le credenziali di altro Utente al fine di appropriarsi della sua identità, o in altro modo dichiarare il falso sull’origine dei contenuti.
          </p>
          <p><b>4.10.</b>
          Il Titolare non è in grado di assicurare un controllo puntuale sugli Annunci ricevuti e pubblicati e si riserva in ogni momento il diritto di cancellare, spostare, modificare quelli che, a suo discrezionale giudizio, appaiono illeciti, abusivi, diffamatori, osceni o lesivi del diritto d’autore e dei marchi o in ogni caso inaccettabili.
          </p>
          <p><b>4.11.</b>
          Gli Utenti concedono al Titolare un diritto d’uso non esclusivo sugli Annunci inviati, senza limitazioni di aree geografiche. Il Titolare potrà pertanto, direttamente o tramite terzi di sua fiducia, utilizzare, modificare, copiare, trasmettere, estrarre, pubblicare, distribuire, eseguire pubblicamente, diffondere, creare opere derivate, ospitare, indicizzare, memorizzare, annotare, codificare, modificare ed adattare (includendo senza limitazioni il diritto di adattare per la trasmissione con qualsiasi modalità di comunicazione) in qualsiasi forma, ogni Contenuto (inclusi immagini, messaggi, anche audio e video) che dovesse essere inviato dall’Utente, anche per il tramite di terzi.
          </p>
          <p><b>4.12.</b>
          È espressamente vietato, salvo esplicita autorizzazione del Titolare: (a) l’utilizzo di sistemi automatici di caricamento annunci, salvo quelli espressamente autorizzati; (b) la pubblicazione seriale e/o la gestione di annunci per conto terzi con ogni mezzo o modalità; (c) rivendere a terzi i servizi del Titolare.
          </p>
          <p><b>4.13.</b>
          Tutti i Contenuti del Sito e della Piattaforma quali testi, fotografie, grafici, immagini, icone, tecnologia, software nonché il rispettivo design grafico e i codici sorgente, costituiscono un’opera la cui proprietà spetta in via esclusiva al Titolare. In nessun caso potrà dirsi trasferito all’Utente il diritto di sfruttamento su detti Contenuti.
          </p>

          <h5>Articolo 5 - Uso del Sito e della Piattaforma</h5>
          <p><b>5.1.</b>
          Gli Utenti si impegnano espressamente a utilizzare il Sito e la Piattaforma nel rispetto di quanto di seguito indicato:
          <br/>(a) utilizzare il Sito e la Piattaforma sotto la propria responsabilità esclusiva e per scopi personali;
          <br/>(b) non archiviare, scaricare, riprodurre, distribuire, modificare, visualizzare, eseguire, pubblicare, concedere in licenza, creare opere derivate, mettere in vendita, o utilizzare contenuti o informazioni ottenuti tramite i Prodotti presenti sulla Piattaforma e sul Sito;
          <br/>(c) rispettare il diritto all’immagine, all’onore, alla riservatezza, alla protezione dei dati, alla proprietà intellettuale o industriale del Titolare o degli altri Utenti;
          <br/>(d) non riprodurre, copiare, distribuire, mettere a disposizione o in qualsiasi altro modo comunicare pubblicamente, trasformare o modificare i contenuti disponibili sulla Piattaforma o sul Sito.

          </p>


          <h5>Articolo 6 - Registrazione al Sito</h5>
          <p><b>6.1.</b>
          Per ottenere qualsiasi informazione riguardante il Sito, la Piattaforma, i Prodotti del Titolare, l’Utente deve: (a) compilare un form presente sul Sito stesso, in maniera veritiera e completa; (b) accettare integralmente le presenti Condizioni e prestare il consenso al trattamento dei loro dati personali.
          </p>
          <p><b>6.2.</b>
          Per accedere ai Prodotti del Titolare presenti sulla Piattaforma, l’Utente deve: (a) compilare un form di registrazione, in maniera completa e veritiera; (b) individuare una propria username e una propria password; (c) accettare integralmente le presenti Condizioni e prestare il consenso al trattamento dei loro dati personali.
          </p>
          <p><b>6.3.</b>
          L’Utente ha l’onere di custodire le proprie credenziali di accesso (username e password) che devono essere utilizzate esclusivamente e personalmente dall’Utente e non possono né devono essere cedute a terzi. L’Utente si impegna a tenerle segrete e ad assicurarsi che nessun terzo vi abbia accesso e ad informare immediatamente il Titolare nel caso in cui sospetti o venga a conoscenza di un uso indebito o di una indebita divulgazione delle stesse.
          </p>
          <p><b>6.4.</b>
          L'Utente garantisce che le informazioni personali fornite durante la procedura di registrazione sono complete e veritiere e si impegna a tenere il Titolare indenne e manlevato da qualsiasi danno, obbligo risarcitorio e/o sanzione derivante da e/o in qualsiasi modo collegata alla violazione da parte dell'Utente delle regole sulla registrazione e/o sulla conservazione delle credenziali di registrazione.
          </p>
          <p><b>6.5.</b>
          La raccolta, il trattamento e la finalità dell’utilizzo dei dati personali degli Utenti sono disciplinati dalla Privacy Policy e dalla Cookie Policy presenti sul Sito del Titolare.
          </p>


          <h5>Articolo 7 – Cancellazione account e chiusura</h5>
          <p><b>7.1.</b>
          L’Utente può interrompere in ogni momento l’utilizzo del Sito e della Piattaforma e disattivare il proprio account e/o richiedere la cancellazione dei suoi dati personali inviando una comunicazione scritta all’indirizzo e-mail info@lianecare.com.
          </p>
          <p><b>7.2.</b>
          In caso di violazione da parte dell’Utente delle presenti Condizioni o delle disposizioni di legge applicabili, il Titolare si riserva il diritto di sospendere e/o chiudere l’account dell’Utente in ogni momento e senza preavviso.
          </p>

          <h5>Articolo 8 – Prodotti a pagamento dedicati agli Utenti assistenti familiari/careviger pro</h5>
          <p><b>8.1.</b>
          I Prodotti a pagamento offerti agli Utenti assistenti familiari/caregiver pro richiedono l’accesso alla Piattaforma mediante registrazione come spiegata al punto 6 delle presenti Condizioni.
          </p>
          <p><b>8.2.</b>
          Le modalità di pagamento sono specificate nella Piattaforma del Sito unitamente ai tempi e modalità di fornitura dei Prodotti.
          </p>
          <p><b>8.3.</b>
          Nel caso in cui non sia possibile fornire i Prodotti entro il termine specificato, ne verrà dato tempestivo avviso tramite e-mail all’Utente, con l’indicazione di quando si prevede di poterli fornire o delle ragioni che rendono la fornitura impossibile.
          </p>
          <p><b>8.4.</b>
          Qualora l’Utente non intenda accettare il nuovo termine o la fornitura sia divenuta impossibile, potrà chiedere il rimborso di quanto pagato che verrà accreditato a cura del Titolare con le stesse modalità di pagamento utilizzate dall’Utente per l’acquisto entro 14 (quattordici) giorni dalla data in cui il Titolare è venuto a conoscenza della richiesta di rimborso.
          </p>
          <p><b>8.5.</b>
          Per ogni Prodotto viene indicato il prezzo comprensivo di imposte di legge.
          </p>
          <p><b>8.6.</b>
          Il Titolare si riserva la facoltà di modificare, in qualsiasi momento, il prezzo dei Prodotti e tutti gli eventuali costi aggiuntivi. Resta inteso che le eventuali modifiche di prezzo non pregiudicheranno in alcun caso gli acquisti conclusi prima della modifica.
          </p>
          <p><b>8.7.</b>
          L’Utente si impegna a pagare il prezzo del Prodotto nei tempi e modi indicati dal Titolare e a comunicare tutti i dati necessari eventualmente richiesti.
          </p>
          <p><b>8.8.</b>
          Il Sito utilizza strumenti terzi per l’elaborazione dei pagamenti e non entra in alcun modo in contatto con i dati di pagamento forniti (numero delle carte di credito, nome del titolare, password, etc.) e pertanto non è responsabile dei rapporti tra gli Utenti ed i gestori degli strumenti terzi e neppure è responsabile del trattamento dei dati personali indicati dall’Utente a detti terzi.
          </p>
          <p><b>8.9.</b>
          Qualora tali strumenti terzi dovessero negare l’autorizzazione al pagamento, il Titolare non potrà fornire i Prodotti e non potrà essere considerato in alcun modo responsabile della mancata fornitura.
          </p>
          <p><b>8.10.</b>
          Il Titolare non sarà responsabile in merito a danni, perdite e costi subiti dall’Utente a seguito della mancata fruizione dei Prodotti per cause a lui non imputabili, avendo l’Utente diritto al recesso come stabilito nel punto 10 delle presenti Condizioni.
          </p>
          <p><b>8.11.</b>
          Il Titolare non assume alcuna responsabilità per l’eventuale uso fraudolento e illecito che possa essere fatto da parte di terzi delle carte di credito e altri mezzi di pagamento, in quanto non entra in alcun modo in contatto con i dati di pagamento utilizzati (numero delle carte di credito, nome del titolare, password, etc.).
          </p>

          <h5>Articolo 9 - Fatturazione (valido solo per gli Utenti assistenti familiari/caregiver pro)</h5>
          <p><b>9.1.</b>
          All’Utente assistente familiare/caregiver pro che desideri ricevere la fattura saranno richiesti i dati per la fatturazione. Per l’emissione della fattura faranno fede le informazioni fornite dall’Utente che egli dichiara e garantisce essere rispondenti al vero, rilasciando al Titolare ogni più ampia manleva al riguardo.
          </p>

          <h5>Articolo 10 - Diritto di recesso (valido solo per gli Utenti assistenti familiari/caregiver pro)</h5>
          <p><b>10.1.</b>
          L’Utente assistente familiare/caregiver pro ha diritto di recedere senza alcuna penalità e senza specificarne il motivo entro il termine di 14 (quattordici) giorni decorrenti dalla data di conclusione dell’acquisto dei Prodotti e/o dalla data del pagamento, mediante l’invio di una comunicazione scritta all’indirizzo e-mail info@lianecare.com, utilizzando il modulo facoltativo di recesso di cui al successivo articolo o una qualsiasi altra dichiarazione scritta.
          </p>
          <p><b>10.2.</b>
          In caso di recesso esercitato correttamente, il Titolare rimborserà all’Utente l’importo ricevuto, senza indebito ritardo e comunque entro 14 (quattordici) giorni dalla data in cui è stato comunicato il recesso.
          </p>
          <p><b>10.3.</b>
          Il Titolare si riserva il diritto di modificare il contenuto digitale dei Prodotti con facoltà di recesso gratuito da parte dell’Utente entro 30 (trenta) giorni dalla data di ricevimento della comunicazione con cui il Titolare lo informa della modifica (o, se successivo, dal momento in cui il contenuto digitale o il servizio digitale è stato modificato dal Titolare), qualora detta modifica incida negativamente sull’utilizzo o sull’accesso del contenuto o servizio digitale da parte dell’Utente.
          </p>


          <h5>Articolo 11 - Modulo facoltativo per esercitare il diritto di recesso (valido solo per gli Utenti assistenti familiari/caregiver pro)</h5>
          <p><b>11.1.</b>
          Ai fini dell’esercizio del diritto di recesso di cui al punto 10 delle presenti Condizioni, l’Utente potrà utilizzare il seguente modulo che dovrà essere compilato in ogni sua parte e inviato all’indirizzo e-mail info@lianecare.com prima della scadenza del periodo di recesso:
          “Con la presente, il sottoscritto/a (indicare nome e cognome), comunica il recesso dal contratto di vendita o fornitura relativo al seguente prodotto (indicare il prodotto acquistato), Ordine numero (indicare il numero d’ordine del prodotto acquistato), acquistato in data (indicare la data dell’acquisto). Potete rispondermi inviando una comunicazione al seguente indirizzo di posta elettronica (indicare la propria e-mail)
          Data e Firma”

          </p>

          <h5>Articolo 12 - Prodotti a pagamento dedicati agli Utenti dipendenti del Fornitore Terzo</h5>
          <p><b>12.1.</b>
          I Prodotti a pagamento offerti agli Utenti dipendenti del Fornitore Terzo richiedono l’accesso alla Piattaforma mediante registrazione come specificata nel punto 6 delle presenti Condizioni.
          </p>
          <p><b>12.2.</b>
          Il pagamento è interamente a carico del Fornitore Terzo con cui il Titolare pattuisce anche i tempi e le modalità di fruizione dei Prodotti da parte degli Utenti. Il rapporto tra Titolare e Fornitore Terzo non è oggetto delle presenti Condizioni.
          </p>

          <h5>Articolo 13 – Diritti di Proprietà Industriale e Intellettuale</h5>
          <p><b>13.1.</b>
          Il Titolare dichiara di essere titolare e/o licenziatario di tutti i diritti di proprietà intellettuale relativi e/o afferenti al Sito e/o alla Piattaforma e/o ai Contenuti.
          </p>
          <p><b>13.2.</b>
          Tutti i Contenuti e le informazioni pubblicate dal Titolare sono protette, quanto all’uso, riproduzione e diffusione, totale e parziale, da diritti esclusivi di proprietà intellettuale, brevetto o di marchio spettanti al Titolare.
          </p>
          <p><b>13.3.</b>
          Con riguardo all'uso del Sito e della Piattaforma, l’Utente è autorizzato unicamente a visualizzarli ed a compiere le operazioni di navigazione solo per un uso legittimo. L’Utente non è invece autorizzato ad eseguire alcuna riproduzione, su qualsiasi supporto, in tutto o in parte del Sito, della Piattaforma, dei Contenuti ovvero ad alterarli e/o modificarli.
          </p>
          <p><b>13.4.</b>
          L’Utente si impegna a tenere indenne e a manlevare il Titolare da tutti i reclami, richieste di risarcimento danni, responsabilità, procedimenti giudiziari e qualsiasi altra conseguenza pregiudizievole (ivi incluse le spese legali) derivante dalla violazione di diritti di terzi quali, a mero titolo esemplificativo, diritti d’autore, marchi, brevetti e altri diritti di proprietà intellettuale e industriale, concorrenza sleale e diffamazione, di cui l’utente si renda responsabile durante l’utilizzo del Sito e della Piattaforma.
          </p>
          <p><b>13.5.</b>
          La violazione da parte dell’Utente anche di una soltanto delle disposizioni che precedono sarà considerata violazione del diritto proprietà intellettuale ed industriale del Titolare.
          </p>

          <h5>Articolo 14 - Limitazione della Responsabilità del Titolare</h5>
          <p><b>14.1.</b>
          Il Titolare non fornisce alcuna garanzia esplicita o implicita in relazione al Sito e/o alla Piattaforma in termini di gradimento, soddisfazione, adeguatezza alle esigenze e/o aspettative degli Utenti, né, tantomeno, sarà responsabile nel caso in cui il Sito e/o la Piattaforma presentino virus o bug o di altri elementi in grado di modificare i sistemi informatici, i documenti elettronici o i dati degli Utenti.
          </p>
          <p><b>14.2.</b>
          Il Titolare si adopererà per assicurare che il Sito e/o la Piattaforma siano disponibili ininterrottamente 24 (ventiquattro) ore al giorno, ma non potrà in alcun modo essere ritenuto responsabile se, per qualsiasi motivo, il Sito e la Piattaforma non fossero accessibili e/o operativi in qualsiasi momento.
          </p>
          <p><b>14.3.</b>
          Il Titolare si riserva la facoltà di sospendere il Sito e/o la Piattaforma in qualsiasi momento a suo insindacabile giudizio e senza preavviso, senza pregiudicare il rispetto degli impegni contrattuali assunti e diversi dalle presenti Condizioni.
          </p>
          <p><b>14.4.</b>
          L’accesso al Sito e/o alla Piattaforma potrà essere sospeso temporaneamente e senza preavviso in caso di guasto del sistema, manutenzione, riparazioni o per ragioni del tutto estranee alla volontà del Titolare o per eventi di forza maggiore.
          </p>
          <p><b>14.5.</b>
          Il Titolare non garantisce la compatibilità del Sito e/o della Piattaforma con i dispositivi di accesso degli Utenti quali computer, browser, dispositivi mobili o altri tipi di dispositivi.
          </p>
          <p><b>14.6.</b>
          Il Titolare non potrà ritenersi responsabile verso l’Utente per disservizi o malfunzionamenti connessi all’utilizzo della rete internet al di fuori del controllo proprio o di suoi fornitori.
          </p>
          <p><b>14.7.</b>
          Il Titolare non sarà responsabile per: (a) errato e/o inidoneo utilizzo del Sito e/o della Piattaforma da parte degli Utenti o di terzi; (b) l’emissione di documenti o dati fiscali errati a causa di errori relativi ai dati forniti dall’Utente, essendo quest’ultimo l’unico responsabile del loro corretto inserimento.
          </p>


          <h5>Articolo 15 - Forza maggiore</h5>
          <p><b>15.1.</b>
          Il Titolare non potrà essere considerato responsabile per il mancato o ritardato adempimento delle proprie obbligazioni dovute a cause di forza maggiore o, comunque, ad eventi imprevisti ed imprevedibili e, comunque, indipendenti dalla sua volontà.
          </p>
          <p><b>15.2.</b>
          L’adempimento delle obbligazioni da parte del Titolare si intenderà sospeso per tutto il periodo di durata di una delle cause indicate nel punto 15.1..
          </p>
          <p><b>15.3.</b>
          Il Titolare compirà qualsiasi atto necessario al fine di individuare soluzioni che consentano il corretto adempimento delle proprie obbligazioni nonostante la persistenza di una delle cause indicate nel punto 15.1.
          </p>

          <h5>Articolo 16 - Collegamento a siti di terzi</h5>
          <p><b>16.1.</b>
          Il Sito potrebbe contenere collegamenti a siti/applicazioni di terzi. Il Titolare non esercita alcun controllo su di essi e, pertanto, non è in alcun modo responsabile per i contenuti di questi siti/applicazioni.
          </p>
          <p><b>16.2.</b>
          Alcuni di questi collegamenti potrebbero rinviare a siti/applicazioni di terzi che forniscono servizi attraverso il Sito. In questi casi, ai singoli servizi si applicheranno le condizioni generali per l’uso del sito/applicazione e per la fruizione del servizio predisposte dai terzi, rispetto alle quali il Titolare non assume alcuna responsabilità.
          </p>

          <h5>Articolo 17 - Privacy</h5>
          <p><b>17.1.</b>
          La tutela e il trattamento dei dati personali avverranno in conformità all’Informativa Privacy, alla Privacy Policy ed alla Cookie Policy presenti sul Sito.
          </p>


          <h5>Articolo 18 - Comunicazioni</h5>
          <p><b>18.1.</b>
          Tutte le comunicazioni tra Titolare e Utenti dovranno avvenire per iscritto tramite raccomandata con ricevuta di ritorno da inviare alla sede legale del Titolare indicata al punto 1 delle presenti Condizioni oppure tramite l’indirizzo di posta elettronica info@lianecare.com
          </p>
          <p><b>18.2.</b>
          Tutte le comunicazioni inviate agli indirizzi forniti dagli Utenti si riterranno correttamente effettuate, salvo che l’Utente non comunicato per iscritto al Titolare un cambiamento di indirizzo con un anticipo di almeno 10 (dieci) giorni lavorativi.
          </p>

          <h5>Articolo 19 - Legge applicabile e Foro competente</h5>
          <p><b>19.1.</b>
          Le presenti Condizioni sono soggette alla Legge Italiana.
          </p>
          <p><b>19.2.</b>
          Per ogni controversia relativa all’applicazione, esecuzione ed interpretazione delle presenti Condizioni da parte degli utenti e dei Fornitori Terzi è competente il Foro di Roma, ove ha sede il Titolare.
          </p>

          <h5>Articolo 20 - Risoluzione delle controversie online per Utenti appartenenti ai Paesi UE </h5>
          <p><b>20.1.</b>
          L’Utente residente in Europa deve essere a conoscenza del fatto che la Commissione Europea ha istituito una piattaforma online che fornisce uno strumento di risoluzione alternativa delle controversie. Tale strumento può essere utilizzato dall’Utente Consumatore per risolvere in via non giudiziale ogni controversia relativa a e/o derivante da contratti di vendita di beni e fornitura di servizi stipulati in rete. Di conseguenza, l’Utente Consumatore può usare tale piattaforma per la risoluzione di ogni disputa nascente dal contratto stipulato online. La piattaforma è disponibile al seguente indirizzo: ec.europa.eu/consumers/odr/
          </p>

          <h5>Articolo 21 - Avvertenza sui contenuti del Sito</h5>
          <p><b>21.1.</b>
          Il Titolare ha adottato ogni accorgimento per evitare che siano pubblicati nel Sito contenuti che descrivano o rappresentino scene o situazioni di violenza fisica o psicologica o tali che, secondo la sensibilità degli utenti, possano essere ritenuti lesivi delle convinzioni civili, dei diritti umani e della dignità delle persone, in tutte le sue forme ed espressioni.
          </p>
          <p><b>21.2.</b>
          Il Titolare non garantisce che i contenuti del Sito ritenuti appropriati o leciti in altri Paesi, al di fuori dell'Italia. Tuttavia, qualora tali contenuti siano ritenuti non leciti o illegali in alcuni di questi Paesi, l’Utente è pregato di evitare di accedere al Sito e ove scegliesse di accedervi il Titolare non potrà essere ritenuto responsabile in nessun caso e per nessuna ragione.
          </p>

          <h5>Articolo 22 - Modifica delle Condizioni Generali</h5>
          <p><b>22.1.</b>
          Il Titolare può modificare le presenti Condizioni in qualsiasi momento senza preavviso. Gli Utenti sono pertanto tenuti a prendere visione periodicamente delle presenti Condizioni per verificare se sono state apportate modifiche.
          </p>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block pagejs %}

{% endblock pagejs %}
